<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalArcomix</title>


    <!-- JQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- FontAwesome CSS -->
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("head", required: false)
</head>
<body>
    @if (!(ViewData["HideNavbarAndFooter"] as bool? ?? false))
    {
        <div id="bemvindo">
            <nav class="navbar navbar-expand-lg navbar-light" id="mainNavbar">
                <a class="navbar-brand" asp-page="/Index">
                    <img src="~/imgs/Logo_FatosRelevantes_peq.png" />
                    Inicio
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <!-- Add navigation links here -->
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Login" style="display:none;">Login</a>
                        </li>
                        <li class="nav-item active">
                            <form method="post" action="/Logout">
                                <button type="submit" class="nav-link btn btn-link">Sair</button>
                            </form>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-page="/Account/Profile" style="display:none;">Hello User</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    }

    <!-- Main content PlaceHolder -->
    <div>
        @RenderBody()
    </div>
    <!-- Main content PlaceHolder -->
    @if (!(ViewData["HideNavbarAndFooter"] as bool? ?? false))
    {
        <footer id="mainFooter" class="container-fluid text-center" style="background: #545454;">
            <div id="footer1" class="row">
                <!-- Optional content for footer1 -->
            </div>
            <div id="footer2" class="row">
                <div class="col-12">
                    <p style="color: whitesmoke">&copy; Todos os Direitos Reservados <a class="footerlinks" href="#" target="_blank">Gutemberg dos Santos Bezerra CA:19102882-5</a></p>
                </div>
            </div>
        </footer>
    }

    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FontAwesome JS -->
    <script src="~/fontawesome/js/all.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/site.js"></script>

    <script>
        function htmlDecode(input) {
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>