@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema de Fatos Relevantes Simplificados";
    Layout = "_Layout";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: #1878BB; margin-top: 20px; margin-bottom: 60px;">Bem-vindo ao Sistema de Fatos Relevantes Simplificados!</h1>
            </div>

            <!-- First line of Buttons Homepage -->
            <div class="row">
                <div class="col-md-4 text-center">
                    <a asp-page="/HistoricoFatosRelevantes" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_alteracoes_de_xml.png" />
                            <h5>HISTÓRICO DE FATOS RELEVANTES</h5>
                            <p class="text-justify">Consulte o histórico de fatos relevantes das empresas que você acompanha.</p>
                        </div>

                    </a>
                </div>

                <div class="col-md-4 text-center">
                    <a asp-page="/EmpresasSelecionadas" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_ativacao_inativacao_de_produtos.png" />
                            <h5>EMPRESAS SELECIONADAS</h5>
                            <p class="text-justify">Acompanhe as empresas de seu interesse e receba notificações.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center">
                    <a asp-page="/FatosRelevantes" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_MeusDados.png" />
                            <h5>FATOS RELEVANTES SIMPLIFICADOS</h5>
                            <p class="text-justify">Visualize fatos relevantes em versões simplificadas para fácil compreensão.</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Second line of Buttons Homepage -->
            <div class="row mt-4">
                <div class="col-md-4 text-center">
                    <a asp-page="/ResumosPeriodicos" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_Cadastro_de_fornecedores.png" />
                            <h5>RESUMOS PERIÓDICOS</h5>
                            <p class="text-justify">Receba resumos semanais ou mensais com as principais informações do mercado.</p>
                        </div>
                    </a>
                </div>

                <!-- PDF Upload Section with Redirection to /PdfUpload -->
                <div class="col-md-4 text-center">
                    <a asp-page="/PdfUpload" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_upload.png" />
                            <h5>UPLOAD DE FATOS RELEVANTES</h5>
                            <p class="text-justify">Carregue PDFs de fatos relevantes para alimentar o sistema.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center">                    
                    <a asp-page="/MeusDados" class="text-center" style="text-decoration: none; color: inherit; display: block;">
                        <div class="frame">
                            <img width="80px" src="~/imgs/ic_NovoCadastro.png" />
                            <h5>MEUS DADOS</h5>
                            <p class="text-justify">Atualize suas informações de segurança. </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>