@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="container vh-100">
    <div class="row align-items-center h-100">
        <!-- Imagem Esquerda Arcomix -->
        <div class="col-md-4 text-center">
            <img height="200" width="250" src="~/imgs/login_arcomix_alta.png" />
        </div>

        <!-- Card Login -->
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body framelogin">
                    <div class="row">
                        <div class="col text-center">
                            <h5 style="color: #1878BB;">Bem Vindo ao Portal do Arco-mix!</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div class="form-group mb-3">
                                    <label for="email">Usuário</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Senha do Usuário</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="***********" required />
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                            <div class="d-grid gap-2 mb-3">
                                <a href="RecuperacaoSenha" class="btn btn-link">Esqueci minha senha</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Imagem Direita Arcovita -->
        <div class="col-md-4 text-center">
            <img height="150" width="300" src="~/imgs/login_arcovita_alta.png" />
        </div>
    </div>
</div>