@page
@model PortalArcomix.Pages.NovoUsuarioModel
@{
    ViewData["Title"] = "Cadastro Novo Usuario";
    Layout = "_Layout";
}

<div class="container">
    <div class="row align-items-center" style="margin-top: 50px;">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body framelogin">
                    <div class="row">
                        <div class="col text-center">
                            <h5 style="color: #1878BB;">Cadastro Novo Usuario</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>
                    <form method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label>Email</label>
                                    <input asp-for="Email" class="form-control" placeholder="Email" type="email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label>Usuário</label>
                                    <input asp-for="Usuario" class="form-control" />
                                    <span asp-validation-for="Usuario" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label for="TipoUsuario">Tipo Usuario</label>
                                    <select asp-for="TipoUsuario" class="form-control" asp-items="Model.TipoUsuarioOptions" onchange="handleUserTypeChange()"></select>
                                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3" id="idCNPJFornecedor" style="display: none;">
                                <div class="form-group mb-3">
                                    <label for="CNPJ">CNPJ</label>
                                    <input asp-for="CNPJ" class="form-control" type="text" />
                                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function handleUserTypeChange() {
            var userTypeSelect = document.getElementById("TipoUsuario");
            var cnpjFornecedorDiv = document.getElementById("idCNPJFornecedor");

            if (userTypeSelect.value === "Fornecedor") {
                cnpjFornecedorDiv.style.display = "block";
            } else {
                cnpjFornecedorDiv.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            handleUserTypeChange();
        });
    </script>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <script>
            alert('@Html.Raw(Model.ErrorMessage)');
        </script>
    }
    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <script>
            alert('@Html.Raw(Model.SuccessMessage)');
        </script>
    }
}
