@page
@model PortalArcomix.Pages.PrivacyModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
    var user = User;
    var email = user.Identity.Name;
    var role = user.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value;
    var cnpj = user.FindFirst(claim => claim.Type == "CNPJ")?.Value;

}

<h2>FornecedorVE</h2>

<p>Email: @email</p>
<p>Role: @role</p>
<p>CNPJ: @cnpj</p>