@page
@model PortalArcomix.Pages.PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<h2>Privacy Policy</h2>
<p>Data Base Vencimento:</p>

@if (Model.FornecedorNegociacao != null)
{
    <form method="post">
        <div class="card">
            <div class="card-body">
                <div class="card" id="CardSegurancaAlimentos">
                    <div class="card-body">
                        <div class="row" id="SegurancaAlimentos">
                            <div class="col">
                                <h4 style="color: #1878BB; margin-bottom: 20px;">Segurança de Alimentos</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-2">
                                <label for="idParecerSegurancaAlimentos">Parecer</label>
                                <div class="form-group mb-3">
                                    <asp:DropDownList CssClass="form-control" ID="idParecerSegurancaAlimentos" runat="server">
                                        <asp:ListItem Text="Escolher..." Value=""></asp:ListItem>
                                        <asp:ListItem Text="Aprovado" Value="Aprovado"></asp:ListItem>
                                        <asp:ListItem Text="Não Aprovado" Value="Não Aprovado"></asp:ListItem>
                                        <asp:ListItem Text="Pendência(s) Documentação" Value="Pendência(s) Documentação"></asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label for="idDescricaoAvaliacao">Descrição da Avaliação</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idDescricaoAvaliacao" runat="server"></asp:TextBox>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="idAtividadeEmpresaForn">Atividade da Empresa:</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idAtividadeEmpresaForn" runat="server"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="idOrgaoFiscalizacaoForn">Orgão de Fiscalização</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idOrgaoFiscalizacaoForn" runat="server"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="idNumRegistroForn">Nº Registro</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idNumRegistroForn" runat="server" TextMode="Number"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label for="idResponsavelTecnico">Responsavel Técnico</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idResponsavelTecnico" runat="server"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="idTecnicoForn">DDD</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idDDDTecnicoForn" runat="server" TextMode="Number"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="idTelefoneTecnicoForn">Telefone</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idTelefoneTecnicoForn" runat="server" TextMode="Number"></asp:TextBox>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="idEmailTecnicoForn">Email</label>
                                <div class="form-group mb-3">
                                    <asp:TextBox CssClass="form-control" ID="idEmailTecnicoForn" runat="server" TextMode="Email"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col text-center">
                                <p style="color: #ff0000; font-weight: bold;">** RESPONSÁVEL TÉCNICO DEVE RESPONDER À AVALIAÇÃO ABAIXO MARCANDO AS OPÇÕES QUE EXISTEM NA EMPRESA **</p>
                            </div>
                        </div>
            </div>
        </div>
    </form>
}
