@page
@model PortalArcomix.Pages.ProdutosVEModel
@{
    ViewData["Title"] = "ProdutosVE";
    Layout = "_Layout";
}

<form method="post">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-1 sidebar">
                @* Sidebar items *@
                @{
                    var sidebarItems = new List<(string Link, string Icon, string Text)>
                {
                ("#idDadosdoProduto", "fa-table", "Dados do Produto"),
                ("#idGC", "fa-list", "Venda e Compra"),
                // ("#idGC", "fa-list", "Gerenciamento de Categoria"),
                // ("#idDadosTributarios", "fa-square-root-variable", "Dados Tributários"),
                // ("#idDadosLogísticos", "fa-truck", "Dados Logísticos"),
                // ("#idCadastro", "fa-address-card", "Cadastro"),
                // ("#idComentarios", "fa-comments", "Comentários")
                };
                }
                @foreach (var item in sidebarItems)
                {
                    <div class="sidebar-item">
                        <a href="@item.Link" class="sidebar-link">
                            <i class="sidebar-icon fa @item.Icon"></i>
                            <span class="sidebar-text">@item.Text</span>
                        </a>
                    </div>
                }
            </div>

            <!-- Main Content Column -->
            <div class="col-md-11">
                <p style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px; font-weight: bold;">Solicitação de Produto: @Model.Produto?.ID</p>
                <hr />

                <!-- Card Dados do Produto -->
                <div class="card" id="idDadosdoProduto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 style="color: #1878BB;">Dados do Produto</h4>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <!-- Descrição -->
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.DESCRICAOPRODUTO">Descrição</label>
                                    <div class="form-group mb-3">
                                        <input asp-for="Produto.DESCRICAOPRODUTO" class="form-control" id="DescricaoProduto" maxlength="35" onblur="validateDescricaoProduto()" />
                                        <span asp-validation-for="Produto.DESCRICAOPRODUTO" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Importado -->
                            <div class="col-md-1">
                                <label asp-for="Produto.IMPORTADO">Importado</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.IMPORTADO" class="form-control" id="Importado" onblur="validateSelect('Importado')">
                                        <option value="">Escolher</option>
                                        <option value="true">Sim</option>
                                        <option value="false">Não</option>
                                    </select>
                                    <span asp-validation-for="Produto.IMPORTADO" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Gestor de Compras -->
                            <div class="col-md-2">
                                <label asp-for="Produto.GESTORCOMPRAS">Gestor de Compras</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.GESTORCOMPRAS" class="form-control" id="GestorCompras" onblur="validateSelect('GestorCompras')">
                                        <option value="">Escolher</option>
                                        <option value="Ana Sales">Ana Sales</option>
                                        <option value="Bruno Santos">Bruno Santos</option>
                                        <option value="Carlos Costa">Carlos Costa</option>
                                        <option value="DoCarmo">DoCarmo</option>
                                        <option value="Hugo Souza">Hugo Souza</option>
                                        <option value="João Vieira">João Vieira</option>
                                        <option value="Juliana Maria">Juliana Maria</option>
                                        <option value="Juliana Medeiros">Juliana Medeiros</option>
                                        <option value="Melque">Melque</option>
                                        <option value="Raphael Mendes">Raphael Mendes</option>
                                        <option value="Gilberto">Gilberto</option>
                                    </select>
                                    <span asp-validation-for="Produto.GESTORCOMPRAS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Marca -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.MARCA">Marca</label>
                                    <div class="form-group mb-3">
                                        <select asp-for="Produto.MARCA" class="form-control" id="marcaSelect" onchange="toggleNovaMarca()">
                                            <option value="">Escolher</option>
                                            <option value="Nova Marca">Nova Marca</option>
                                            <option value="Sadia">Sadia</option>
                                            <option value="Perdigão">Perdigão</option>
                                            <option value="Seara">Seara</option>
                                        </select>
                                        <span asp-validation-for="Produto.MARCA" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Nova Marca (this uses the same MARCA property) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label for="novaMarcaInput">Nova Marca</label>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" id="novaMarcaInput" disabled="disabled" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- NCM/SH -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.NCM">NCM/SH</label>
                                    <input asp-for="Produto.NCM" class="form-control" id="NCM" onblur="validateNCM()" maxlength="8" />
                                    <span asp-validation-for="Produto.NCM" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           

                            <!-- CEST -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CEST">CEST</label>
                                    <input asp-for="Produto.CEST" class="form-control" id="CEST" onblur="validateCEST()" maxlength="7" />
                                    <span asp-validation-for="Produto.CEST" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- ICMS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.ICMS">ICMS%</label>
                                    <input asp-for="Produto.ICMS" class="form-control" id="ICMS" onblur="validateICMS()" maxlength="6" />
                                    <span asp-validation-for="Produto.ICMS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- IPI % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.IPI">IPI%</label>
                                    <input asp-for="Produto.IPI" class="form-control" id="IPI" onblur="validateIPI()" maxlength="6" />
                                    <span asp-validation-for="Produto.IPI" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- PIS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.PIS">PIS%</label>
                                    <input asp-for="Produto.PIS" class="form-control" id="PIS" onblur="validatePIS()" maxlength="6" />
                                    <span asp-validation-for="Produto.PIS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- COFINS % -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.COFINS">COFINS%</label>
                                    <input asp-for="Produto.COFINS" class="form-control" id="COFINS" onblur="validateCOFINS()" maxlength="6" />
                                    <span asp-validation-for="Produto.COFINS" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Custo Unidade (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CUSTOUNIDADE">Custo Unidade (R$)</label>
                                    <input asp-for="Produto.CUSTOUNIDADE" class="form-control" id="CUSTOUNIDADE" onblur="validateCustoUnidade()" maxlength="9" />
                                    <span asp-validation-for="Produto.CUSTOUNIDADE" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Custo Caixa (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CUSTOCAIXA">Custo Caixa (R$)</label>
                                    <input asp-for="Produto.CUSTOCAIXA" class="form-control" id="CUSTOCAIXA" onblur="validateCustoCaixa()" maxlength="9" />
                                    <span asp-validation-for="Produto.CUSTOCAIXA" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Embalagem Fatura -->
                            <div class="col-md-2">
                                <label asp-for="Produto.EMBALAGEMFAT">Embalagem Fatura</label>
                                <div class="form-group mb-3">
                                    <select asp-for="Produto.EMBALAGEMFAT" class="form-control" id="EmbalagemFat" onblur="validateSelect('EmbalagemFat')">
                                        <option value="">Escolher...</option>
                                        <option value="DUN 14">DUN 14</option>
                                        <option value="EAN 13">EAN 13</option>
                                        <option value="Display">Display</option>
                                        <option value="KG">KG</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Cód.int.Forn(Ref DUN14)">Cód.int.Forn(Ref DUN14)</option>
                                        <option value="Cód.int.Forn(Ref EAN13)">Cód.int.Forn(Ref EAN13)</option>
                                        <option value="Cód.int.Forn(Ref Ref Display)">Cód.int.Forn(Ref Ref Display)</option>
                                    </select>
                                    <span asp-validation-for="Produto.EMBALAGEMFAT" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Cód XML (44 Dig) -->
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.CODXML">Cód XML</label>
                                    <input asp-for="Produto.CODXML" class="form-control" id="CodXML" maxlength="44" onblur="validateField('CodXML', '44digitos')" />
                                    <span asp-validation-for="Produto.CODXML" class="text-danger"></span>
                                </div>
                            </div>

                            

                            @* <!-- Verba Cadastro (R$) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.VERBACADASTRO">Verba Cadastro (R$)</label>
                                    <input asp-for="Produto.VERBACADASTRO" class="form-control" id="VerbaCadastro" onblur="validateField('VerbaCadastro', 'currency')" />
                                    <span asp-validation-for="Produto.VERBACADASTRO" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Motivo Verba Zerada -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="Produto.MOTIVOVERBAZERADA">Motivo Verba Zerada</label>
                                    <input asp-for="Produto.MOTIVOVERBAZERADA" class="form-control" id="MotivoVerbaZerada" onblur="validateField('MotivoVerbaZerada', 'default')" maxlength="255" />
                                    <span asp-validation-for="Produto.MOTIVOVERBAZERADA" class="text-danger"></span>
                                </div>
                            </div> *@
                        </div>



                    </div>
                </div>

                <!--Card Unidade de Venda e Compra-->
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="idUnidVendaCompra">
                            <div class="col">
                                <h4 style="color: #1878BB;">Unidade de Venda e Compra</h4>
                                <br />
                            </div>
                        </div>

                        <div class="row">
                            <!-- EAN 13 Field -->
                            <div class="col-md-2">
                                <label>EAN 13</label>
                                <div class="form-group mb-3">
                                    <input asp-for="ProdutoVendaCompra.EAN13" class="form-control" maxlength="13" onblur="validateField('ProdutoVendaCompra_EAN13', '13digitos')" />
                                    <span asp-validation-for="ProdutoVendaCompra.EAN13" class="text-danger"></span>
                                </div>
                            </div>


                            <!-- Referência -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.REFERENCIA">Referência</label>
                                    <input asp-for="ProdutoVendaCompra.REFERENCIA" class="form-control" maxlength="30" />
                                    <span asp-validation-for="ProdutoVendaCompra.REFERENCIA" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Bruto em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOBRUTOKG">P. Bruto (Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOBRUTOKG" id="pesoBruto" class="form-control" onblur="validatePesoBruto()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOBRUTOKG" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Peso Líquido em Kg -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PESOLIQUIDOKG">P. Líquido (Kg)</label>
                                    <input asp-for="ProdutoVendaCompra.PESOLIQUIDOKG" id="pesoLiquido" class="form-control" onblur="validatePesoLiquido()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PESOLIQUIDOKG" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Altura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.ALTURACM">Altura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.ALTURACM" id="alturaCm" class="form-control" onblur="validateAlturaCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.ALTURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Largura (cm) -->
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.LARGURACM">Largura(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.LARGURACM" id="larguraCm" class="form-control" onblur="validateLarguraCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.LARGURACM" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Profundidade (cm) -->
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label asp-for="ProdutoVendaCompra.PROFUNDIDADECM">Profundidade(cm)</label>
                                    <input asp-for="ProdutoVendaCompra.PROFUNDIDADECM" id="profundidadeCm" class="form-control" onblur="validateProfundidadeCm()" />
                                    <span asp-validation-for="ProdutoVendaCompra.PROFUNDIDADECM" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!-- Action Buttons -->
                <div class="row mt-4">
                    <div class="col-md-12 text-right">
                        <a id="idvoltar" class="btn btn-danger" href="/Index" role="button">Voltar</a>
                        <button id="idAtivacaoProduto" type="submit" class="btn btn-primary">Ativação Produto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    function validateSelect(selectId) {
        var select = document.getElementById(selectId);
        if (select && select.value === "") {
            setValidationMessage(selectId, "Selecione uma Opção");
            select.focus();
            return false;
        } else {
            setValidationMessage(selectId, ""); // Clear validation message
        }
        return true;
    }

    function setValidationMessage(fieldId, message) {
        var field = document.getElementById(fieldId);
        var validationSpan = field.nextElementSibling;
        if (validationSpan && validationSpan.classList.contains('text-danger')) {
            validationSpan.innerText = message;
        }
    }

    function validateField(fieldId, validationType = 'default') {
        var field = document.getElementById(fieldId);
        if (field) {
            var value = field.value.trim();

            switch (validationType) {
                case 'default':
                    if (!value) {
                        setValidationMessage(fieldId, "Campo Precisa ser preenchido");
                        field.focus();
                        return false;
                    }
                    break;

                case 'max35chars':
                    if (value.length > 35) {
                        setValidationMessage(fieldId, "Máximo 35 caracteres");
                        field.focus();
                        return false;
                    }
                    break;

                case '8digitos':
                    if (!/^\d{8}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 8 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case '7digitos':
                    if (!/^\d{7}$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas 7 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'percent':
                    if (!/^\d{1,3}(\,\d{1,2})?$/.test(value) || parseFloat(value.replace(',', '.')) > 100) {
                        setValidationMessage(fieldId, "Deve ser Percentual");
                        field.focus();
                        return false;
                    }
                    break;


                case 'currency':
                    if (!/^\d+(\,\d{1,2})?$/.test(value)) {
                        setValidationMessage(fieldId, "Valor Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case 'repeatedDigits':
                    if (/^(\d)\1+$/.test(value)) {
                        setValidationMessage(fieldId, "Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case '44digitos':
                    if (!/^\d{44}$/.test(value)) {
                        setValidationMessage(fieldId, "44 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'sequentialDigits':
                    if (isSequential(value)) {
                        setValidationMessage(fieldId, "Inválido");
                        field.focus();
                        return false;
                    }
                    break;

                case '13digitos':
                    if (value && !/^\d{13}$/.test(value)) {
                        setValidationMessage(fieldId, "Deve conter exatamente 13 dígitos");
                        field.focus();
                        return false;
                    }
                    break;

                case 'digitsOnly':
                    if (!/^\d+$/.test(value)) {
                        setValidationMessage(fieldId, "Apenas Números");
                        field.focus();
                        return false;
                    }
                    break;

                case 'maxValue100':
                    if (parseFloat(value.replace(',', '.')) > 100) {
                        setValidationMessage(fieldId, "Máximo 100");
                        field.focus();
                        return false;
                    }
                    break;

                default:
                    break;
            }

            setValidationMessage(fieldId, ""); // Clear validation message
        }
        return true;
    }

    function validateDescricaoProduto() {return validateField("DescricaoProduto", "default") && validateField("DescricaoProduto", "max35chars");}
    function validateNCM() {return validateField("NCM", "8digitos") && validateField("NCM", "repeatedDigits") && validateField("NCM", "sequentialDigits");}
    function validateCEST() {return validateField("CEST", "7digitos") && validateField("CEST", "repeatedDigits") && validateField("CEST", "sequentialDigits");}
    function validateICMS() {return validateField("ICMS", "percent");}
    function validateIPI() {return validateField("IPI", "percent");}
    function validatePIS() {return validateField("PIS", "percent");}
    function validateCOFINS() {return validateField("COFINS", "percent");}
    function validateCustoUnidade() {return validateField("CUSTOUNIDADE", "currency");}
    function validateCustoCaixa() {return validateField("CUSTOCAIXA", "currency");}
    function validateCodXML() { return validateField("CodXML", "44digitos"); }

    //function validateVerbaCadastro() { return validateField("VerbaCadastro", "currency"); }
    //function validateMotivoVerbaZerada() { return validateField("MotivoVerbaZerada", "default"); }

    function validateEAN13() {return validateField("ProdutoVendaCompra_EAN13", "13digitos");}
    function validateAlturaCm() {return validateField("alturaCm", "digitsOnly") && validateField("alturaCm", "maxValue100");}
    function validateLarguraCm() {return validateField("larguraCm", "digitsOnly") && validateField("larguraCm", "maxValue100");}
    function validateProfundidadeCm() {return validateField("profundidadeCm", "digitsOnly") && validateField("profundidadeCm", "maxValue100");}

    // Validation for Peso Bruto (Kg) and Peso Líquido (Kg)
    function validatePesoFields() {
        var pesoBruto = document.getElementById("pesoBruto").value.trim();
        var pesoLiquido = document.getElementById("pesoLiquido").value.trim();

        // Both fields are empty, no validation error
        if (!pesoBruto && !pesoLiquido) {
            clearValidationMessages();
            return true;
        }

        // If one of the fields is filled, both must be filled and valid
        if (pesoBruto && !pesoLiquido) {
            setValidationMessage("pesoLiquido", "Campo precisa ser preenchido");
            document.getElementById("pesoLiquido").focus();
            return false;
        } else if (!pesoBruto && pesoLiquido) {
            setValidationMessage("pesoBruto", "Campo precisa ser preenchido");
            document.getElementById("pesoBruto").focus();
            return false;
        }

        // If both fields are filled, check if they contain only digits or are valid currency values
        if (validateField("pesoBruto", "currency") && validateField("pesoLiquido", "currency")) {
            // Convert the values to numbers for comparison
            var brutoValue = parseFloat(pesoBruto.replace(',', '.'));
            var liquidoValue = parseFloat(pesoLiquido.replace(',', '.'));

            // Check if P. Líquido is greater than P. Bruto
            if (liquidoValue > brutoValue) {
                setValidationMessage("pesoLiquido", "P. Líquido não pode ser maior que P. Bruto");
                document.getElementById("pesoLiquido").focus();
                return false;
            }

            // Check if P. Bruto or P. Líquido is greater than 30
            if (brutoValue > 30) {
                setValidationMessage("pesoBruto", "Peso Máximo 30Kg");
                document.getElementById("pesoBruto").focus();
                return false;
            }
            if (liquidoValue > 30) {
                setValidationMessage("pesoLiquido", "Peso Máximo 30Kg");
                document.getElementById("pesoLiquido").focus();
                return false;
            }

            // Clear any previous validation messages if everything is valid
            clearValidationMessages();
            return true;
        }

        return false; // If validation fails, return false
    }

    // Clear validation messages for both fields
    function clearValidationMessages() {
        setValidationMessage("pesoBruto", "");
        setValidationMessage("pesoLiquido", "");
    }

    // Attach the validation to onblur events
    document.getElementById("pesoBruto").onblur = validatePesoFields;
    document.getElementById("pesoLiquido").onblur = validatePesoFields;


    
    // Helper function to detect sequential digits
    function isSequential(value) {
        for (let i = 0; i < value.length - 1; i++) {
            if (parseInt(value[i]) + 1 !== parseInt(value[i + 1])) {
                return false;
            }
        }
        return true;
    }


    function toggleNovaMarca() {
        var marcaSelect = document.getElementById('marcaSelect');
        var novaMarcaInput = document.getElementById('novaMarcaInput');

        if (marcaSelect.value === 'Nova Marca') {
            novaMarcaInput.disabled = false;
            novaMarcaInput.name = "Produto.MARCA";  // Use the MARCA property when Nova Marca is selected
            marcaSelect.name = "";  // Clear the name to avoid binding
        } else {
            novaMarcaInput.disabled = true;
            novaMarcaInput.value = '';  // Clear the Nova Marca input if disabled
            novaMarcaInput.name = "";  // Remove the name attribute to avoid binding
            marcaSelect.name = "Produto.MARCA";  // Ensure the dropdown is bound to MARCA
        }
    }

    // Make Enter key act like Tab in the form
    document.addEventListener('keydown', function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevent default Enter behavior
            // Find the next focusable element
            var currentElement = event.target;
            var focusableElements = document.querySelectorAll('button, [href], input, select, textarea');
            var currentIndex = Array.from(focusableElements).indexOf(currentElement);
            var nextIndex = (currentIndex + 1) % focusableElements.length;
            focusableElements[nextIndex].focus();
        }
    });


</script>