@page
@model PortalArcomix.Pages.ProdutoVIModel
@{
    ViewData["Title"] = "Produto VI";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-1 sidebar">
            <!-- Sidebar navigation items -->
            <div class="sidebar-item">
                <a href="#idDadosdoProduto" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-table"></i>
                    <span class="sidebar-text">Dados do Produto</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="#idGC" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-list"></i>
                    <span class="sidebar-text">GC</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="#idDadosTributarios" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-square-root-variable"></i>
                    <span class="sidebar-text">Dados Tributários</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="#idDadosLogisticos" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-truck"></i>
                    <span class="sidebar-text">Dados Logísticos</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="#idCadastro" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-address-card"></i>
                    <span class="sidebar-text">Cadastro</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="#idComentarios" class="sidebar-link">
                    <i class="sidebar-icon fa-solid fa-comments"></i>
                    <span class="sidebar-text">Comentários</span>
                </a>
            </div>
        </div>

        <div class="col-md-11">
            <p style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px; font-weight: bold;">
                Solicitação de Produto: xxx
            </p>
            <hr />
            <form action="/" method="post">

                <!-- Fluxo de Trabalho -->
                <div class="row text-center">
                    <div class="gap-2">
                        <a class="btn btn-success" href="GestaoProdutos" role="button">Gerenciamento de Categoria</a>
                        <span><i class="fa-solid fa-right-long" style="color: #74C0FC;"></i></span>
                        <a class="btn btn-warning" href="#" role="button">Comercial</a>
                        <span><i class="fa-solid fa-right-long" style="color: #74C0FC;"></i></span>
                        <a class="btn btn-primary" href="#" role="button">Compras</a>
                        <span><i class="fa-solid fa-right-long" style="color: #74C0FC;"></i></span>
                        <a class="btn btn-primary" href="#" role="button">Contabilidade</a>
                        <span><i class="fa-solid fa-right-long" style="color: #74C0FC;"></i></span>
                        <a class="btn btn-primary" href="#" role="button">Cadastro</a>
                    </div>
                </div>
                <br />

                <!-- Dados do Produto -->
                <div class="card" id="idDadosdoProduto">
                    <div class="card-body">
                        <h4 style="color: #1878BB;">Dados do Produto</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label>Descrição (Completa)</label>
                                    <input type="text" class="form-control" asp-for="ProdutoDetails.DescricaoProduto" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Descrição (Reduzida)</label>
                                    <input type="text" class="form-control" asp-for="ProdutoDetails.DescricaoProduto" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Fornecedor</label>
                                    <input type="text" class="form-control" asp-for="FornecedorDetails.RazaoSocial" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="idFornTipo">Tipo</label>
                                <div class="form-group mb-3">
                                    <select class="form-control" asp-for="FornecedorDetails.TipoFornecedor">
                                        <option value="">Selecionar</option>
                                        <option value="Distribuidor">Distribuidor</option>
                                        <option value="Industria">Indústria</option>
                                        <option value="Transportadora">Transportadora</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="idGestorCompras">Gestor de Compras</label>
                                <div class="form-group mb-3">
                                    <select class="form-control" asp-for="ProdutoDetails.GestorCompras">
                                        <option value="">Escolher</option>
                                        <option value="Ana Sales">Ana Sales</option>
                                        <option value="Bruno Santos">Bruno Santos</option>
                                        <option value="Carlos Costa">Carlos Costa</option>
                                        <option value="DoCarmo">DoCarmo</option>
                                        <option value="Hugo Souza">Hugo Souza</option>
                                        <option value="João Vieira">João Vieira</option>
                                        <option value="Juliana Maria">Juliana Maria</option>
                                        <option value="Juliana Medeiros">Juliana Medeiros</option>
                                        <option value="Melque">Melque</option>
                                        <option value="Raphael Mendes">Raphael Mendes</option>
                                        <option value="Gilberto">Gilberto</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label for="idImportado">Importado</label>
                                <div class="form-group mb-3">
                                    <select class="form-control" asp-for="ProdutoDetails.Importado">
                                        <option value="">Selecionar</option>
                                        <option value="true">SIM</option>
                                        <option value="false">NÃO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Negócio (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Varejo">Varejo</option>
                                        <option value="Atacado">Atacado</option>
                                        <option value="Varejo e Atacado">Varejo e Atacado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Fracionamento (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="SIM">SIM</option>
                                        <option value="SIM, Apenas Atacado">SIM, Apenas Atacado</option>
                                        <option value="SIM, Apenas Varejo">SIM, Apenas Varejo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Posicionamento (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Low Price">Low Price</option>
                                        <option value="Intermediário">Intermediário</option>
                                        <option value="Premium">Premium</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label>Forma de Abastecimento (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Compra Central Entrega Central">Compra Central Entrega Central</option>
                                        <option value="Compra Central / Entrega de Loja (Diretíssimo)">Compra Central / Entrega de Loja (Diretíssimo)</option>
                                        <option value="Negociação Central Compra Empresa">Negociação Central Compra Empresa</option>
                                        <option value="Direto Loja">Direto Loja</option>
                                        <option value="Negociação e Compra Empresa">Negociação e Compra Empresa</option>
                                        <option value="Seleção Inversa">Seleção Inversa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Emb.Compra (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Caixa">Caixa</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Display">Display</option>
                                        <option value="Unidade">Unidade</option>
                                        <option value="Kilo">Kilo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Emb.Transf (novo?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Caixa">Caixa</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Display">Display</option>
                                        <option value="Unidade">Unidade</option>
                                        <option value="Kilo">Kilo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Cód XML</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.CodXML" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Embalagem (XML)</label>
                                    <select class="form-control" asp-for="ProdutoDetails.EmbalagemFat">
                                        <option value="">Selecionar</option>
                                        <option value="DUN 14">DUN 14</option>
                                        <option value="EAN 13">EAN 13</option>
                                        <option value="Display">Display</option>
                                        <option value="KG">KG</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Cód Inter Forn (Ref DUN 14)">Cód Inter Forn (Ref DUN 14)</option>
                                        <option value="Cód Inter Forn (Ref EAN 13)">Cód Inter Forn (Ref EAN 13)</option>
                                        <option value="Cód Inter Forn (Ref Display)">Cód Inter Forn (Ref Display)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Custo Un(R$)</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.CustoUnidade" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Custo Cx(R$)</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.CustoCaixa" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>NºContrato (Novo?)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Verba de Cadastro(R$)</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.VerbaCadastro" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Motivo da Verba Zerada (dropdown ou texto?)</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Isento">Isento</option>
                                        <option value="Contrato">Contrato</option>
                                        <option value="Sem Contrato">Sem Contrato</option>
                                        <option value="Não Houve Compra">Não Houve Compra</option>
                                        <option value="Não Paga Verba">Não Paga Verba</option>
                                        <option value="Pack / Promocional">Pack / Promocional</option>
                                        <option value="Produto Arco-Vita">Produto Arco-Vita</option>
                                        <option value="Produto de Substituição">Produto de Substituição</option>
                                        <option value="Produto Filho / Pai">Produto Filho / Pai</option>
                                        <option value="Verba apuração ou Desconto">Verba apuração ou Desconto</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Tipo de Solicitação</label>
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Novo Produto">Novo Produto</option>
                                        <option value="Substituição">Substituição</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Marca</label>
                                    <select class="form-control" asp-for="ProdutoDetails.Marca">
                                        <option value="">Selecionar</option>
                                        <option value="Nova Marca">Nova Marca</option>
                                        <option value="Kicaldo">Kicaldo</option>
                                        <option value="Masterboi">Masterboi</option>
                                        <option value="Embaré">Embaré</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Nova Marca:</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label>Familia (Novo?)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Marca (Produto Substituido)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label>Produto (Substituido)</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!--Card Gerenciamento de Categoria-->


                <div class="row">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row" id="idGC">
                                    <div class="col">
                                        <h4 style="color: #1878BB;">Gerenciamento de Categoria</h4>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Master text box where the user will type -->
                                    <div class="col-md-2 text-center" style="margin-top: 25px; font-weight: bold;">
                                        <p>Minimo:</p>
                                        <p>Máximo:</p>
                                    </div>
                                    <div class="col-md-2 text-center form-group">
                                        <span style="font-weight: bold;">Principal</span>
                                        <input type="number" id="masterInputMIN" class="form-control">
                                        <input type="number" id="masterInputMAX" class="form-control">
                                    </div>
                                    <!-- Example checkboxes and text boxes that will be filled -->
                                    @for (int i = 1; i <= 22; i++)
                                    {
                                        <div class="col-md-2 form-group">
                                            <input type="checkbox" id="store@iCheck" class="store-check" checked>
                                            <label for="store@iInput">Loja @i:</label>
                                            <input type="number" id="LJ@iMin" name="LJ@iMin" class="form-control store-input">
                                            <input type="number" id="LJ@iMax" name="LJ@iMax" class="form-control store-input">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Card Imagem-->
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row" id="idImagem">
                                    <div class="col">
                                        <h4 style="color: #1878BB;">Imagem do Produto</h4>
                                        <br />
                                    </div>
                                </div>

                                <div class="row" style="height: 45vh;">
                                    <div class="col d-flex justify-content-center align-items-center" style="height: 100%;">
                                        @if (!string.IsNullOrEmpty(Model.ImageData))
                                        {
                                            <img src="data:image/png;base64,@Model.ImageData" alt="Imagem do Produto" class="img-fluid" style="max-height: 100%; max-width: 100%; object-fit: contain;" />
                                        }
                                        else
                                        {
                                            <p>Imagem não disponível</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <!-- Dados Tributários -->
                <div class="card" id="idDadosTributarios">
                    <div class="card-body">
                        <h4 style="color: #1878BB;">Dados Tributários</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>NCM/SH:</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.NCM" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>CEST</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.CEST" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>MVA</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="idFornTipo">Cesta Basica</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="escolher">Selecionar</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>ICMS%</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.ICMS" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>ICMS-ST%</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>IPI%</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.IPI" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>PIS%</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.PIS" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>COFINS%</label>
                                    <input type="number" class="form-control" asp-for="ProdutoDetails.COFINS" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Tributação</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="idFornTipo">CST PIS/COFINS Entrada</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="escolher">Selecionar</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="idFornTipo">CST PIS/COFINS Saída</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="escolher">Selecionar</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="idFornTipo">Natureza da Receita</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="escolher">Selecionar</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- Dados Logísticos -->
                <div class="card" id="idDadosLogisticos">
                    <div class="card-body">
                        <h4 style="color: #1878BB;">Dados Logísticos</h4>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <label>EAN 13</label>
                                <div class="form-group mb-2">
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Referencia Venda</label>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Bruto(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Liquido(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Altura (cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Largura(cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Profund(cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Mesa(Caixas)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Altura(Caixas)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>ShelfLife(Dias)</label>
                                    <input type="number" class="form-control" />
                                    <span><input type="checkbox" /> Não Possui</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>DUN 14</label>
                                    <span style="margin-left: 15px;">
                                        <input type="checkbox" /> Não Possui
                                    </span>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Referencia Compra</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Bruto(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Liquido(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Altura(cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Largura(cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Profund(cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Embalagem</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Caixa">Caixa</option>
                                        <option value="Fardo">Fardo</option>
                                        <option value="Display">Display</option>
                                        <option value="Unidade">Unidade</option>
                                        <option value="Kilo">Kilo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Quantidade</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>EAN 13 SubEmbalagem</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group mb-3">
                                    <label>Referencia SubEmbalagem</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Bruto(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>P.Liquido(Kg)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Altura(Cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Largura(Cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Profund(Cm)</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>SubEmbalagem</label>
                                <div class="form-group mb-3">
                                    <select class="form-control">
                                        <option value="">Selecionar</option>
                                        <option value="Caixeta">Caixeta</option>
                                        <option value="Pacote">Pacote</option>
                                        <option value="Display">Display</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group mb-3">
                                    <label>Quantidade</label>
                                    <input type="number" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <!-- Submit button -->
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group" style="margin-top: 25px;">
                            <button id="idValidar" type="submit" class="btn btn-primary">Validar</button>
                            <span><i class="fa-solid fa-right-long" style="color: #74C0FC;"></i></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('masterInputMAX').addEventListener('input', function () {
        const value = this.value;
        document.querySelectorAll('.store-check').forEach(function (check, index) {
            if (check.checked) {
                document.querySelectorAll('.store-input')[index * 2 + 1].value = value;
            }
        });
    });

    document.getElementById('masterInputMIN').addEventListener('input', function () {
        const value = this.value;
        document.querySelectorAll('.store-check').forEach(function (check, index) {
            if (check.checked) {
                document.querySelectorAll('.store-input')[index * 2].value = value;
            }
        });
    });
</script>